## House Price Prediction

In [1]:
# Import Libraries
import numpy as np
import pandas as pd

In [2]:
# Load Data
data = pd.read_csv('melb_data.csv')

In [3]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
# Dataset Info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [5]:
# Lets check data distribution "5 number summary"

data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [6]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
# Fill null values by mean
data['Car'].fillna(data['Car'].mean(),inplace=True)

In [8]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [9]:
data['BuildingArea'].fillna(data['BuildingArea'].mode()[0], inplace=True)

In [10]:
data['YearBuilt'].fillna(data['YearBuilt'].mode()[0], inplace=True)

In [11]:
data['CouncilArea'].fillna(data['CouncilArea'].mode()[0], inplace=True)

In [12]:
data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [13]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,120.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,120.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [14]:
data.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,120.0,1981.0,Moreland,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,Moreland,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,120.0,1997.0,Moreland,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,Moreland,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,Moreland,-37.81188,144.88449,Western Metropolitan,6543.0

In [15]:
# Check numbers of unique values in dataset
data.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 12
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [16]:
pd.set_option('display.max_columns',50)
pd.set_option('display.max_rows',500)

In [17]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,120.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,120.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [18]:
# Apply label encoding on required columns
# Import label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
data['Suburb'].head()

0    Abbotsford
1    Abbotsford
2    Abbotsford
3    Abbotsford
4    Abbotsford
Name: Suburb, dtype: object

In [20]:
# Use on Suburb column
# Fit
le.fit(data['Suburb'])

LabelEncoder()

In [21]:
# Fit transform
data['Suburb'] = le.fit_transform(data['Suburb'])

In [22]:
# Check Data
data['Suburb'].head()

0    0
1    0
2    0
3    0
4    0
Name: Suburb, dtype: int32

In [23]:
# Drop Address column
data.drop(columns= 'Address', inplace=True)
data.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,120.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,0,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,0,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,0,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,120.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,0,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [24]:
# Apply label encoding on all remaining columns
cols = ['Type','Method','SellerG','CouncilArea','Regionname','Date']
def encode(c):
    le.fit(data[c])
    data[c]=le.fit_transform(data[c])
for c in cols:
    encode(c)

In [25]:
# Check data
data.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,2,0,1480000.0,1,23,45,2.5,3067.0,2.0,1.0,1.0,202.0,120.0,1970.0,31,-37.7996,144.9984,2,4019.0
1,0,2,0,1035000.0,1,23,47,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,31,-37.8079,144.9934,2,4019.0
2,0,3,0,1465000.0,3,23,48,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,31,-37.8093,144.9944,2,4019.0
3,0,3,0,850000.0,0,23,48,2.5,3067.0,3.0,2.0,1.0,94.0,120.0,1970.0,31,-37.7969,144.9969,2,4019.0
4,0,4,0,1600000.0,4,155,49,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,31,-37.8072,144.9941,2,4019.0

In [26]:
# Drop price column
X = data.drop(columns='Price')
X.head()

,Suburb,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,2,0,1,23,45,2.5,3067.0,2.0,1.0,1.0,202.0,120.0,1970.0,31,-37.7996,144.9984,2,4019.0
1,0,2,0,1,23,47,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,31,-37.8079,144.9934,2,4019.0
2,0,3,0,3,23,48,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,31,-37.8093,144.9944,2,4019.0
3,0,3,0,0,23,48,2.5,3067.0,3.0,2.0,1.0,94.0,120.0,1970.0,31,-37.7969,144.9969,2,4019.0
4,0,4,0,4,155,49,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,31,-37.8072,144.9941,2,4019.0

In [27]:
X.shape

(13580, 19)

In [28]:
# Split data in x and y (independent features and dependent features)
y = data['Price'].copy()
y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [29]:
y.shape

(13580,)

# Perform train-test spliting
x - 2parts , y - 2parts

xtrain, xtest  ytrain, ytest

In [30]:
Xtrain,Xtest = X[0:10000],X[10000:]
ytrain,ytest = y[0:10000],y[10000:]

In [31]:
Xtrain.shape

(10000, 19)

In [32]:
ytrain.shape

(10000,)

In [33]:
Xtest.shape

(3580, 19)

In [34]:
ytest.shape

(3580,)

In [35]:
#Apply model-Linear Regression
from sklearn.linear_model import LinearRegression

In [36]:
lr_model = LinearRegression()

In [37]:
dir(lr_model)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_decision_function',
 '_estimator_type',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_set_intercept',
 '_validate_data',
 'copy_X',
 'fit',
 'fit_intercept',
 'get_params',
 'n_jobs',
 'normalize',
 'positive',
 'predict',
 'score',
 'set_params']

In [38]:
lr_model.fit(Xtrain, ytrain)

LinearRegression()

In [39]:
lr_model.intercept_

-238714116.97997618

In [40]:
lr_model.coef_

array([-3.98561987e+02,  1.52299088e+05, -2.23267585e+05, -4.29854247e+03,
       -2.07989860e+02, -3.35398091e+02, -5.77607926e+04,  1.08769877e+03,
        2.81690262e+04,  2.07297197e+05,  6.30319467e+04,  1.41823352e+01,
        4.46566724e+02, -2.20951381e+03, -4.36220347e+03, -1.03267490e+06,
        1.38929522e+06,  3.40537924e+04, -1.33558512e+00])

In [41]:
# Lets predict xtest
pred = lr_model.predict(Xtest)

In [42]:
len(pred)

3580

In [43]:
pred

array([1025068.11439914, 1460871.89057308, 1170982.31089836, ...,
       1328220.20562455, 1569992.93711782, 1235850.13492143])

In [44]:
pred_df = pd.DataFrame(pred)

In [45]:
# Predicted value
pred_df.head()

              0
0  1.025068e+06
1  1.460872e+06
2  1.170982e+06
3  9.463834e+05
4  1.260969e+06

In [46]:
# Actual values
ytest.head()

10000    1265000.0
10001    1050000.0
10002     790000.0
10003     410500.0
10004    1300000.0
Name: Price, dtype: float64

In [47]:
# Get error
from sklearn.metrics import mean_absolute_error,mean_squared_error

mse = mean_squared_error(ytest, pred_df)
print('Error :',mse)

mae = mean_absolute_error(ytest, pred_df)
print('Error :',mae)

Error : 293903858544.8086
Error : 299894.3794283378